.contenedor-menu{
	background:white;
	margin: 0px auto;
	width:45%;
	min-width:350px;
	height:auto;
	padding-bottom: 20px;
}
.menu-ul{
	list-style:none;
	padding:0px;
	width:50%;
	margin:0px auto;
}
.menu-li{
	width:100%;
	height:auto;
	color:white;
	display:block;
	text-align:center;
	background:#164FEB;
	margin-bottom:2%;
	text-align:center;
}
.menu-li a{
	display:block;
	width:100%;
	height:auto;
	color:white;
	padding:10px 0;
	border:solid 1px white;	
}
.menu-li a:hover{
	background:#3ABAC9;
}